rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /posts/{post} {
    
      // permission to read for everyone
      allow read: if true
      
      // permission to create only to logged in users and only the when the author is saving its id as correct auth uid
      allow create: if request.auth != null &&
      request.resource.data.author.id == request.auth.uid &&
      
      //prevent creation of premium = true by user
      request.resource.data.premium != true;
      
      //permission to update, delete only to logged in users and only if he is author who created it
      allow update, delete : if request.auth != null &&
      get(/databases/$(database)/documents/posts/$(post)).data.author.id == request.auth.uid &&
      
      //prevent update, delete of premium = true by user
      request.resource.data.premium != true;

    }
  }
}